.sc-split-view {
	background-color: white;
}

.endash-table-header {
/*	background: static_url('tableheader.png') top left repeat-x;*/
	background: #9a9a9a !important;
	overflow: hidden;
	-webkit-border-top-left-radius: 8px;
}

.endash-table-view {
/*			-webkit-border-top-left-radius: 8px;*/
/*			-webkit-border-top-right-radius: 8px;*/
}

.endash-table-header .endash-table-cell {
	background-image: static_url('tableheader.png') !important;
	background-position: top left !important;
	background-repeat: repeat-x !important;
	background-opacity: .5;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
/*	background: #F9F9F9 !important;*/
	border-bottom: 1px solid #DDD !important;
/*	bottom: 1px !important;*/
}

	.endash-table-header .endash-table-cell:hover label, .endash-table-header .selected  label {
/*		-webkit-border-top-left-radius: 8px;*/
	background: rgba(0, 0, 0, .10) !important;
	border-top: 1px solid rgba(0, 0, 0, .15);
/*	color: white !important;*/
	top: 11px !important;
	bottom: 13px !important;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
/*	font-weight: normal !important;*/
/*	color: #999 !important;*/
	}
	
	.endash-table-header .selected  label, .endash-table-header:hover .selected  label {
		background: #579ad7 !important;
		border-top: 1px solid #307dc1 !important;
		color: rgba(255, 255, 255, .9);
/*		font-weight: normal !important;*/
	}

.endash-table-header .endash-table-cell label {
	font-family: Helvetica;
	text-align: left !important;
	font-size: 12px !important;
	top: 12px;
	bottom: 10px;
	margin: 0px 5px !important;
	line-height: 19px !important;
	font-weight: bold !important;
	text-align: center !important;
}

.endash-table-header .endash-table-cell * {
	background: none !important;
	color: #555;
}

/*.endash-table-header .endash-table-cell.asc {
	color: red !important;
}

.endash-table-header .endash-table-cell.desc {
	color: blue !important;
}
*/


	.endash-table-data-view .endash-table-cell label {
		left: 6px !important;
		right: 6px !important;
	}
	
	
.endash-table-cell.even {
/*	background-color: #f1f5f9 !important;*/
}
	
.endash-table-cell .sc-outline {
	position: absolute !important;
	padding: 0px 8px !important;
	border-right: 1px solid #dADADA;
	font-size: 11px !important;
	line-height: 17px !important;
	top: 0px !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
}

.endash-table-cell.sel {
	background-color: #3a83df !important;
	color: white !important;
/*	border-bottom: 1px solid #81b6f2;*/
}

.endash-table-cell.sel .sc-outline {
	border-right: 1px solid #217cce;
}


.reordering-columns .sc-thumb-view {
	opacity: 0 !important;
}

.endash-table-header .sc-thumb-view {
	z-index: 1000 !important; 
	-webkit-transition: opacity .5s;

/*	background-image: static_url('tableheaderdivider.png') !important;*/
/*	background-position: top center !important;*/
/*	background-repeat: no-repeat !important;*/
/*	background-color: transparent !important;*/
	cursor: "col-resize"
}

	.endash-table-header .sc-thumb-view .inner {
		position: absolute;
		top: 7px !important; bottom: 7px !important;
		width: 2px;
		background-color: white;
		left: 2px;
		border-left: 1px solid rgba(0, 0, 0, .12);
	}

.endash-table-header .sc-thumb-view:hover {
	cursor: col-resize !important
}

body.resizing-horizontally {
	cursor: col-resize !important
}

	body.resizing-horizontally * {
		cursor: inherit !important;
	}
	
.dragging {
	z-index: 999999 !important;
/*	opacity: .6;*/
}

.spacer .inner {
	display: none !important;
}